h1{
    text-align: center;
}

body{
    font-family: 'Fira Sans', sans-serif;
    color: black;
    font-size: 18px;

}

.img{
    text-align: center;
}

.vysnovok{
    text-align: center;
}

a{
 color:black;
}
